/* styles/GoogleLogin.module.css */

 /* Example CSS for the button in GoogleLogin.module.css or google.css */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 11px; 
    transition: background-color 0.3s; 
    margin-top: 12px;
    width: fit-content;
}
.loadingBar {
    margin-top: 10px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    animation: loadingAnimation 1.5s infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

